{% extends 'base.html.twig' %}

{% block title %}Phones{% endblock %}

{% block body %}
    <div id="list" class="wrapper">
        <h1>Phones</h1>
        {% include "phones/table.html.twig" %}
        {% include "phones/questions.html.twig" %}
    </div>
{% endblock %}