<div id="questions">
    <h2>Questions</h2>
    <div class="question_answer">
        <div class="question">Which is the most expensive phone?</div>
        <div class="answer">{{ most_expensive.getFullName() }} at {{ most_expensive.getPrice() }} Ft</div>
    </div>
    <div class="question_answer">
        <div class="question">Which is the least offered capacity?</div>
        <div class="answer">{{ least_offered }}GB with {{ least_offered_cnt }} phone(s)</div>
    </div>
    <div class="question_answer">
        <div class="question">Which phone is the best value? (price / capacity)</div>
        <div class="answer">{{ best_value.getFullName() }} with {{ best_value.getCapacity() }}GB at {{ best_value.getPrice() }} Ft</div>
    </div>
    <div class="question_answer">
        <div class="question">How many phones cost over 200.000 Ft?</div>
        <div class="answer">{{ over_200k }} phone(s)</div>
    </div>
    <div class="question_answer">
        <div class="question">How many phones come with 128GB storage?</div>
        <div class="answer">{{ storage_128gb }} phone(s)</div>
    </div>
    <h2>Complex questions</h2>
    <div class="question_answer">
        <div class="question">What's the average price of an Apple phone? (union)</div>
        <div class="answer">{{ avg_apple }} Ft with {{ cnt_apple }} phones</div>
    </div>
    <div class="question_answer">
        <div class="question">How many phones are in both arrays? (intersect by brand and name)</div>
        <div class="answer">{{ intersect_cnt }} phones</div>
    </div>
    <div class="question_answer">
        <div class="question">What's the least expensive phone with an A14 Bionic? (union)</div>
        <div class="answer">{{ a14_bionic.getFullName() }} at {{ a14_bionic.getPrice() }} Ft</div>
    </div>
</div>