<table cellspacing="0" class="phones_table">
    <tr class="phones_row">
        <td>Brand</td>
        <td>Name</td>
        <td>Capacity</td>
        <td>CPU</td>
        <td>Price</td>
    </tr>
    {% for phone in phones %}
        <tr class="phones_row">
            <td class="phone_brand">{{ phone.brand }}</td>
            <td class="phone_name">{{ phone.name }}</td>
            <td class="phone_capacity">{{ phone.capacity }}GB</td>
            <td class="phone_cpu">{{ phone.cpu }}</td>
            <td class="phone_price">{{ phone.price }} Ft</td>
        </tr>
    {% endfor %}
</table>