<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            body, html {
                font-family: sans-serif;
                font-size: 16px;
                background-color: #333;
                color: #fff;
                margin: 0;
                display: flex;
                height: 100%;
                flex-direction: column;
            }
            .wrapper {
                max-width: 900px;
                margin: auto;
                flex: 1;
            }
            @media print {
                .wrapper {
                    padding: 2em;
                }
                .sf-toolbar, .sf-minitoolbar {
                    display: none !important;
                }
            }
            .phones_table {
                margin: auto;
                max-width: 600px;
            }
            .phones_row {
                padding: .5em;
                background-color: #444;
            }

            .phones_row:first-child td {
                font-weight: bold;
            }
            .phones_row:nth-child(odd) {
                background-color: #222;
            }
            .phones_row:first-child {
                background-color: #111;
                color: #eee;
            }
            .phones_row > td {
                padding: 5px 10px;
            }
            .question_answer {
                margin: 1em 0;
            }
            .question {
                font-weight: bold;
            }
            .answer {
                font-style: italic;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
